{% extends 'base.html.twig' %}

{% block title %}Hello ServiceController!
{% endblock %}

{% block body %}
	<div class="container">
		<table class="table table-sm">
			<thead>
				<tr>
					<th scope="col">Id du Service</th>
					<th scope="col">Nom du service</th>
					<th scope="col">Zone géographique</th>
				</tr>
			</thead>
			<tbody>
				{% for service in services%}
				<tr>
					<th scope="row">{{service.id_service}}</th>
					<td>{{service.nom_service}}</td>
					<td>{{service.zone_geographique}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
