{% extends 'base.html.twig' %}

{% block title %}Hello AjoutSejourController!
{% endblock %}

{% block body %}
	<form>
		<div class="container">
			<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
				<div class="card border-0 shadow rounded-3 my-5">
					<div class="card-body p-4 p-sm-5">
						<h5 class="card-title text-center mb-5 fw-light fs-5">Ajout d'un séjour</h5>
						
                        <label for="exampleInputPatient">Patient</label>
						<input type="patient" class="form-control">

                        <button class="btn btn-primary" href="creation_patient">Ajouter un patient</button><br>
                        <small id="ajouterPatient" class="form-text text-muted">Ajoutez un patient uniquement si celui-ci n'a pas encore été ajouté</small>
                        
                        <label for="exampleInputDateEntrée">Date d'entrée</label>
                        <input type="DateEntrée" class="form-control">

                        <label for="exampleInputDateSotie">Date de sortie</label>
                        <input type="DateSortie" class="form-control">

                        <label for="exampleInputProblème">Problème</label>
						<input type="Problème" class="form-control" >

                        <label for="exampleInputService">Service</label>
						<input type="Service" class="form-control" >

                        <label for="exampleInputChambre">Numéro de chambre</label>
						<input type="Chambre" class="form-control" >

                        <label for="exampleInputLit">Numéro de lit</label>
						<input type="Lit" class="form-control" >
        
						<button type="submit" class="btn btn-primary">Ajouter</button>
					</div>
				</div>
			</div>
		</div>
	</form>
{% endblock %}
