{% extends 'base.html.twig' %}

{% block title %}Hello ChambreController!
{% endblock %}

{% block body %}
	<div class="container">
		<table class="table table-sm">
			<thead>
				<tr>
					<th scope="col">Numéro de chambre</th>
					<th scope="col">Nombre de lits</th>
					<th scope="col">Nom du service</th>
				</tr>
			</thead>
			<tbody>
				{% for chambre in chambres %}
				<tr>
					<th scope="row">{{chambre.num_chambre}}</th>
					<td>{{chambre.nblits}}</td>
					<td>{{chambre.service}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
