{% extends 'base.html.twig' %}

{% block title %}Séjour{% endblock %}

{% block body %}
<form>
		<div class="container">
			<div class="col-sm-9 col-md-7 col-lg-5 mx-auto" style="margin-left:300px !important">
				<div class="card border-0 shadow rounded-3 my-5">
					<div class="card-body p-4 p-sm-5">
						<h5 class="card-title text-center mb-5 fw-light fs-5">Modification du séjour</h5>
						<h4 class="card-title text-center mb-5 fw-light fs-5">{{patient}}</h4>
						{{ form (SejourController) }}
						
						<button type="submit" class="btn btn-primary">Modifier</button>
						
					</div>
				</div>
			</div>
		</div>
	</form>
{% endblock %}
